<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SADARI
        link(rel="stylesheet", href="/css/styles.css")
    body
        .box
            .box__col1 box1
            .box__col2 
                .box__col2__sec1 sec1
                .box__col2__sec2 sec2
                .box__col2__sec3 sec3
            .box__col3 box3
            .box__col4 
                .box__col4__sec1 sec1
                .box__col4__sec2 sec2

